:root {
    --color-base: rgb(181, 141, 23);
    --color-degradado: rgb(180, 141, 23, .4);
    --surface-color: rgb(180, 141, 23, .9);
    --arc-color: rgb(180, 141, 23);
    --curve: 40;
    --fNormal: 1rem;
    --fTitulos: 3rem;
    --fSubtitulos: 1.5rem;
    --altoLinea: 2rem;
    --logoBlanco: url('../img/logoBlanco.webp');
    --lineaBlanca: url('../img/title-after-blanco.svg');
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: var(--fNormal);
    color: #6f767c;
}

a {
    text-decoration: none;
    /* color: white; */
}

.fondo{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.txt-block .titulos {
    font-size: 2.5rem;
}

.linksIEE a:hover {
    color: #8a68a5 !important;
}

.linksIEEHeader {
    background-color: #404040 !important;;
    color: #c7c7c7 !important;
}

.navbarIEE{
    color: gray;
}

.tamaniologo {
    width: 10rem;
}

.toggleImg {
    content: var(--logoBlanco);
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .100) !important;
}

.nav-link:focus,
.nav-link:hover {
    color: #8a68a5 !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff !important;
    background-color: #8a68a5 !important;
}

@media screen and (max-width: 1279px) {
    .texto-accesos {
        display: none;
    }
}

@media all and (min-width: 1400px) {
    .dropdown-menu li {
        position: relative;
    }

    .dropdown-menu .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .dropdown-menu .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }

    .dropdown-menu>li:hover>.submenu {
        display: block;
    }

    .navbar .nav-item .menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }

    .navbar .nav-item:hover .menu {
        opacity: 1;
        visibility: visible;
        transform: rotateX(0deg);
    }

    .mapa {
        width: 300px !important;
    }

    .tamaño {
        height: 25vh !important;
    }

    .tamañoimg {
        height: 25vh !important;
    }
}

@media (min-width: 300px) {

    .mapa {
        width: 300px !important;
    }

    .tamaño {
        height: 25vh !important;
    }

    .tamañoimg {
        height: 25vh !important;
    }
}

@media (min-width: 576px) {
    .mapa {
        width: 300px !important;
    }

    .tamaño {
        height: 25vh !important;
    }

    .tamañoimg {
        height: 25vh !important;
    }
}

@media (min-width: 768px) {
    .mapa {
        width: 300px !important;
    }

    .tamaño {
        height: 25vh !important;
    }

    .tamañoimg {
        height: 25vh !important;
    }
}

@media (min-width: 992px) {

    .mapa {
        width: 300px !important;
    }

    .tamaño {
        height: 25vh !important;
    }

    .tamañoimg {
        height: 25vh !important;
    }
}

@media (min-width: 1200px) {

    .mapa {
        width: 300px !important;
    }

    .tamaño {
        height: 25vh !important;
    }

    .tamañoimg {
        height: 25vh !important;
    }
}

@media (min-width: 1400px) {

    .mapa {
        width: 300px !important;
    }

    .tamaño {
        height: 25vh !important;
    }

    .tamañoimg {
        height: 25vh !important;
    }
}

/*redes sociales*/

/* .social-bar {
    position: fixed;
    top: 62%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
}

.social-bar a {
    display: block;
    text-align: center;
    padding: 9px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.social-bar a:hover {
    background-color: #43B7A4;
}

.facebook {
    background: #3B5998;
    color: white;
    border-radius: 0px 15px 0px 0px;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.tiktok {
    background: #000000;
    color: white;
}

.spotify {
    background: #1ed760;
    color: white;
    border-radius: 0px 0px 15px 0px;
} */

/* Inicio Opiniones */

/* .seccionOpiniones {
    padding-top: 10vh;
    padding-bottom: 15vh;
}

.divOpiniones {
    border-radius: 2rem !important;
    background-color: white;
    padding: 1.5rem 2rem 1.5rem 2rem;
    box-shadow: 7px 7px 30px 0px rgba(0, 0, 0, .15);
}

.contactoOpiniones {
    border-radius: 2rem;
    background-color: #8a68a5;
    padding: 2rem;
    color: #fff !important;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 1rem;
    width: 20%;
    margin-top: -3%;
}

textarea {
    font-size: 15px;
    width: 100%;
    min-height: auto !important;
    max-height: auto !important;
    height: 150px !important;
    padding-top: 20px !important;
}

.form-control {
    font-size: 15px;
    height: 60px;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}

.form-group-flex {
    display: flex;
    flex-direction: column;
}

form label {
    order: 1;
}

form .app-form-control {
    order: 2;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1.5px solid #666;
    outline: none;
    transition: border-color 0.2s;
}

.app-form-control::placeholder {
    color: #ddd;
}

.app-form-control:focus {
    border-bottom-color: var(--color-base);
}

.app-form-control:focus+label {
    transition: color 0.2s;
    color: var(--color-base);
}

.form-check-input:checked {
    background-color: var(--color-base);
    border-color: var(--color-base);
}

.form-check-input:focus {
    border-color: var(--color-base);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--color-degradado);
} */

.linea {
    background-color: #8a68a5;
    height: 3px;
    width: 20%;
}

/*Nos interesa tu opinion*/
.titulos {
    font-size: var(--fTitulos);
    line-height: 3.5rem;
    position: relative;
    /* padding-bottom: 20px; */
    display: flex !important;
}

.subTitulos {
    font-size: var(--fSubtitulos);
    line-height: 2.5rem;
}

.btnIEE2 {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-box-shadow: 0 20px 30px 0 rgb(67 37 204 / 20%);
    box-shadow: 0 20px 30px 0 rgba(73, 10, 156, 0.2);
    color: #fff;
    background: #8a68a5;
    border: 2px solid #8a68a5;
    padding: none;
}

.btnIEE2:hover {
    cursor: pointer;
    box-shadow: 0 20px 30px 0 rgb(126 145 142 / 38%);
    background: #56b9b4;
    color: rgb(255, 255, 255);
    border-color: #56b9b4;
}

/* ============ small devices ============ */

@media (max-width: 650px) {
    .tamaniologo {
        width: 8rem;
    }

    .mapa {
        width: 300px !important;
    }

    .tamaño {
        height: 25vh !important;
    }

    .tamañoimg {
        height: 25vh !important;
    }
}

/*footer*/

.bg-footer {
    background-color: #f8f9faa3;
}

.footerLinks h1 {
    font-size: 1rem;
}

/* #redes {
    top: 50%;
    text-align: right;
    width: 120%;
}

#redes a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: #6c757d;
}

#redes a .fab,
#redes a .fa-brands,
#redes a .fa-solid {
    color: #FFF;
}

#redes a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    z-index: 7;
}

#redes a span {
    position: absolute;
    left: 50%;
    color: #FFF;
    display: none;
    border-bottom: 2px solid #b08800;
    padding-bottom: 8px;
    background-color: #555;
    top: -30px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    font-size: 80%;
    white-space: nowrap;
}

#redes .facebook:hover {
    background-color: #3b5998;
}

#redes .twitter:hover {
    background-color: #55acee;
}

#redes .youtube:hover {
    background-color: #FF0000;
}

#redes .periscope:hover {
    background-color: #40A4C4;
}

#redes .tiktok:hover {
    background-color: black;
}

#redes .maps:hover {
    background-color: #32A34F;
} */

.footerLine{
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
}

/* MAPA */
/* .mapa{
    height: 300px;
    width: 500px;
}

@media screen and (max-width: 479px) {

    .mapa{
        width: 300px !important;
    }
} */

/*header*/

/* @media screen and (max-width: 1279px) {

    .mapa {
        width: 300px !important;
    }

    .tamaño {
        height: 25vh !important;
    }

    .tamañoimg {
        height: 25vh !important;
    }
}

@media (min-width: 321px) and (max-width: 413.95px) {
    .social-bar a {
        padding: 8px !important;
    }

    .mapa {
        width: 300px !important;
    }

    .tamaño {
        height: 25vh !important;
    }

    .tamañoimg {
        height: 25vh !important;
    }
} */

/* @media (max-width: 1399px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }

    .logo {
        margin-right: 0rem;
    }

    .mapa {
        width: 300px !important;
    }

    .tamaño {
        height: 25vh !important;
    }

    .tamañoimg {
        height: 25vh !important;
    }
}

@media (max-width: 400px) {

    .mapa {
        width: 300px !important;
    }

    .tamaño {
        height: 25vh !important;
    }

    .tamañoimg {
        height: 25vh !important;
    }
} */

/* Espacio (Saltos) */
.saltos{
    margin-top: 2vw !important;
}

/* SCROLL DataTable JS ZERO */
div.dataTables_wrapper {
    /* width: 1700px !important; */
    margin: 0 auto;
}

.styletable{
    background-color: #8a68a5;
    color: #fff !important;
    
}

.dataTables_wrapper {
    max-width: 90vw !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem !important;
}

.dataTables_scroll{
    margin-top: 2rem !important;
}

/* Tamaño de letra DataTable */
.tamaioletratabla{
    font-size: 12px !important;
    text-align: center !important;
}

.tmt {
    text-align: center !important;
}

/* DOM DataTable0 */
/* div.dataTables_length {
    padding-left: 2em;
} */

/* div.dataTables_length, div.dataTables_filter {
    padding-top: 0.55em;
} */

.dataTables_wrapper .dataTables_length select {
    padding: 6px !important;
}

.dataTables_wrapper .dataTables_length{
    padding-right: 3rem !important;
}

/* DataTable Pagination*/
.paginate_button:hover {
    background: #8a68a5 !important;
    border: none !important;
}

.paginate_button.current:hover {
    background: #8a68a5 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #8a68a5 !important;
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
}

/* DataTable Button */
.btnExcel{
    color: #fff !important;
    background: #217345 !important;
    border: none !important;
}

.btnCSV{
    color: #fff !important;
    background: #217345 !important;
    border: none !important;
}

/* Estilos de cards */ /* Cards Total de personas sancionadas */
/* .cardConteo:hover {
    color: #fff !important;
    background-color: #8a68a5 !important;
} */

/* .cardTotal{
    border-radius: 15px;
    box-shadow: 0 5px 26px 0 rgb(0 0 0/15%);
    color: #fff !important;
}

.cardMH {
    border-radius: 15px;
    box-shadow: 0 5px 26px 0 rgba(0, 0, 0, 0.142);
    color: #8a68a5 !important;
    height: 100% !important; 
    width: 100% !important;
} */

/* Espacio de Card */
/* .espacio{
    padding-left: 4vw;
    padding-right: 4vw;
} */

/* Image de Card */
/* .imgSancionada{
    background-image: url("../img/0000.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cardpresentation{
    min-height: fit-content !important;
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.letracardpre{
    font-size: 20px !important;
    font-weight: 500;
    color: #716f6f !important;
    height: 45%;
    text-align: center !important;
    margin-left: 25%;
    width: 800px;
    line-height: 2.2;
    text-transform: uppercase;
} */


/* .spaceImage{
    padding-bottom: 2rem;
    padding-top: 0.01rem;
}

@media (max-width: 820px) {
    .letracardpre{
        font-size: 14px !important;
        font-weight: 500;
        color: #6d6b6b  !important;
        height: 60%;
        text-align: center !important;
        margin-left: 13%;
        width: 600px;
        line-height: 2.1;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {
    .letracardpre{
        font-size: 14px !important;
        font-weight: 500;
        color: #6d6b6b  !important;
        height: 60%;
        text-align: center !important;
        margin-left: 13%;
        width: 600px;
        line-height: 2.1;
        text-transform: uppercase;
    }
}

@media (max-width: 375px) {
    .letracardpre{
        font-size: 12px !important;
        font-weight: 600;
        color: #8a68a5  !important;
        height: 100%;
        text-align: center !important;
        margin-left: 1%;
        padding: 1rem;
        width: 300px;
        line-height: 2.1;
        text-transform: uppercase;
        
    }

    .imgSancionada{
        background-image: url("../img/p3.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
} */


/* .bloque{
    display:block !important;
} */

/* .letraCardSancion{
text-align: center !important; 
font-size: 2.0rem !important;
}

.letraCardSancionTotalHM{
    text-align: center !important; 
    font-size: 1.25rem !important;
}

.letraCardSancionTotal{
    text-align: center !important; 
    font-size: 5rem !important; 
    position: relative !important;
}

.letraFecha{
    bottom: 2px !important; 
    font-size: 1rem !important; 
    text-align: center !important;
}

@media (max-width: 375px) {
    .letraCardSancion{
        text-align: center !important; 
        font-size: 20px !important;
    }
        
    .letraCardSancionTotalHM{
        text-align: center !important; 
        font-size: 15px !important;
    }
    
    .letraCardSancionTotal{
        text-align: center !important; 
        font-size: 15px !important; 
        position: relative !important;
    }
    
    .letraFecha{
        bottom: 2px !important; 
        font-size: 12px !important; 
        text-align: center !important;
    }
}

.spaceCardTotales{
    margin-left: 3rem !important;
}

.spaceCardTotal{
    margin-bottom: 2rem !important;
} */


/* Banner Mujeres Electas Cards Sitios de Interes */

/* .cardSitios {
    border-radius: 20px !important;
    width: 250px;
    height: 250px;
    padding: 1.5rem;
    position: relative;
    align-items: flex-end;
    transition: 0.4s ease-out;
    opacity: .6;
}

.cardSitios:hover {
    opacity: 1;
}

.cardSitios img {
    height: 100%;
    width: 100%;
    object-fit: contain;
} 

.sitios{
    background-color: #F8F1FD;
    padding-bottom: 2rem;
    padding-top: 4rem;
}

@media (max-width: 400px) {
    .linea.lineaMargin {
        margin: 6.2rem;
    }

    .mapa {
        width: 300px !important;
    }

    .tamaño {
        height: 25vh !important;
    }

    .tamañoimg {
        height: 25vh !important;
    }
} */

/* Modal */
/* .close {
    background: #8a68a5 !important;
}

.close:hover {
    color: #8a68a5 !important;
    background: #fff !important;
    border-color: #8a68a5 !important;
}

button {
    border-radius: 0.25rem;
}

.btn-secondary {
    color: #fff;
    background-color: #8a68a5 !important;
    border-color: #8a68a5 !important;
}

.btn-secondary:hover {
    color: #8a68a5 !important;
    background: #fff !important;
}

.modal-content {
    width: fit-content !important;
    border-radius: 10px !important;
} */

/* .btn-primary {
    background-color: transparent !important;
    border-color: transparent !important;
}

.imgCardButton {
    width: 330px !important;
    height: 230px !important;
    border-radius: 1rem !important;
}

.imgCardModal {
    width: 700px !important;
    border-radius: 1rem !important;
} */

/* .grid-container {
    --grid-layout-gap: 29px;
    --grid-column-count: 4; 
    --grid-item--min-width: 330px; 
    
    
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);
}

.imgColum{
    justify-content: center !important;
    display: flex !important;
    padding-left: 4vh !important;
    padding-bottom: 6vh !important;
    padding-right: 4vh !important;
}

.styleCard {
    background-color: #F8F1FD !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
} */

/* Informacion Normativa */
/* .contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.letraInformacionN{
    font-size: 22px !important;
    text-align:justify !important;
}

.letraInformacionLA{
    font-size: 20px !important;
    text-align:justify !important;
}

.imgInformacion{
    width: 80% !important;
}

/* max-width: 640px 
@media screen and (max-width: 640px){
    div.dt-buttons {
        margin-top: 0.5em;
        float: none !important;
        text-align: center;
    }

    .dataTables_scroll {
        margin-top: 1rem !important;
    } */

    /* .imgInformacion{
        display: none !important;
    } */

    /* .cardpresentation {
        padding: 1rem;
    }

    .spaceCardTotales{
        margin-left: 0.2rem !important;
    }

    .spaceCardTotal{
        margin-bottom: 1rem !important;
    }

    .spaceCardHM{
        margin-bottom: 1rem !important;
    }

    .saltos{
        margin-top: 6vw !important;
    }
} */


/* max-width: 375px */
/* @media (max-width: 375px) {
    .letraInformacionN{
        font-size: 12px !important;
        text-align:justify !important;
    }
        
    .letraInformacionLA{
        font-size: 10px !important;
        text-align:justify !important;
    }
} */

/* @media screen and (max-width: 1180px){
    
    .imgCardModal {
        width: 500px !important;
        border-radius: 1rem !important;
    }

    .spaceCardTotales{
        margin-left: 0.2rem !important;
    }

    .mb-3 {
        margin-bottom: 1rem!important;
    }
} */

/* SVG */
/* .clasex{
    width: 690px !important;
    height: 800px !important;
}

@media (max-width: 450px) {
    .clasex{
        width: 324px !important;
        height: 380px !important;
    }
} */

/* .styleCardMapa{
    fill:#6F54A1 !important;
    stroke-width: 2 !important;
}

.styleCardMapa:hover{
    fill: #cfbdf9 !important;
    position: relative;
    stroke: #414097 !important;
    stroke-width: 2.5 !important;
}

.prueba_toolpic{
    border-radius: 8px;
    border: 2px solid #8a68a5;
    position: fixed;
    display: none;
    width: 18rem;
}

@media (max-width: 820px) {
    .prueba_toolpic{
        border-radius: 8px;
        border: 2px solid #8a68a5;
        position: fixed;
        display: none;
        width: 18rem;
    }
}

@media (max-width: 768px) {
    .prueba_toolpic{
        border-radius: 8px;
        border: 2px solid #8a68a5;
        position: fixed;
        display: none;
        width: 15rem;
    }
}

@media (max-width: 375px) {
    .prueba_toolpic{
        border-radius: 8px;
        border: 2px solid #8a68a5;
        position: fixed;
        display: none;
        width: 8rem;
        font-size: 9px;
    }
}

.posiciontexto{
    text-align: center !important;
}

.mapaLetra {
    font-size: 22px !important;
    text-align: center !important;
}
 */

/* Iconos Table*/
td .options .option-button {
    font-size: 16px;
    border: none;
    background: transparent;
    transition: background-color .28s ease-in-out;
}

td .options .option-button:hover {
    background-color: #c9c8c8;
}

td .status {
    font-size: 20px;
    margin: auto;
}

td .status.inactivo {
    color: #B71C1C;
}

td .status.activo {
    color: #02971F;
}

/* Titulo Admin */
.titulo_login{
    font-size: 20px !important;
    font-weight: 500;
    color: #716f6f !important;
    height: 45%;
    text-align: center !important;
    /* margin-left: 25%; */
    /* width: 800px; */
    line-height: 2.2;
    text-transform: uppercase;
    /* text-transform: lowercase; */
}

.card-header {
    padding: 0.1rem 1rem !important;
}

/* Formulario Registrar */
.formulario{
    margin-left: 6rem !important;
    margin-right: 5rem !important;
}

.titleFormulario{
    font-size: 1.5rem !important;
    color: #333 !important;
    font-weight: 500 !important;
    text-align: center !important;
    text-transform: uppercase;
    /* text-transform: lowercase;*/
}

.register {
    height: 55px;
    width: 30rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(83 69 149);
}

.register:hover {
    background: #8a68a5;
}

.title2{ 
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
}

.form-row {
    margin-bottom: 0.5rem;
}

.lineaInfo {
    background-color: #8a68a5;
    height: 3px;
    width: 20%;
}

.divtitle2{
    text-align: center !important;
    margin-bottom: 2.5rem !important;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 2rem !important;
    padding-left: 5px !important;
}

/*Responsive Formulario Registrar*/
@media screen and (max-width: 768px) {
    .register {
        height: 55px;
        width: 20rem;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 30px;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;
        background: rgb(83 69 149);
    }

    .titulo_login {
        font-size: 15px !important;
        font-weight: 500;
        color: #716f6f !important;
        height: 45%;
        text-align: center !important;
        line-height: 2.2;
        text-transform: uppercase;
    }

    .titleFormulario {
        font-size: 1.2rem !important;
        color: #333 !important;
        font-weight: 500 !important;
        text-align: center !important;
        text-transform: uppercase;
        /* text-transform: lowercase; */
    }

    .title2 {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

@media (max-width: 375px) {
    .register {
        height: 40px !important;
        width: 8rem;
        color: #fff;
        font-size: 0.6rem;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 30px;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;
        background: rgb(83 69 149);
    }

    .titulo_login {
        font-size: 11px !important;
        font-weight: 500;
        color: #716f6f !important;
        height: 20%;
        text-align: center !important;
        line-height: 2.2;
        text-transform: uppercase;
    }

    .titleFormulario {
        font-size: 1rem !important;
        color: #333 !important;
        font-weight: 650 !important;
        text-align: center !important;
        text-transform: uppercase;
    }
}